@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
    <br />
<h2>@ViewBag.Message</h2>
<br />
<br />
<p>20.06.20</p>
<p>Unsere Nemathoden sind da!</p>
<br />
<p>14.06.20</p>
<p>Marienkäferlarven sind unterwegs!</p>
<br />
<p>07.06.20</p>
<p>Wir haben eine neue Gießkanne!</p>
