@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title</h2>*@
<br />
<h2>@ViewBag.Message</h2>
<br />

<address>
    Arbeiterstrandbadgasse 101<br />
    1220 Wien<br />
    <abbr title="Phone">T:</abbr>
    01 987 654 321
</address>
<br />
<br />
<address>
    <p>Wenn Sie ein neuer Nachbar in unserem Gemeindebau geworden sind, schreiben Sie unserem Admin eine Mail mit ihrem Wunschnamen, damit Sie Ihre Zugansdaten bekommen.</p>
    <strong>Admin:</strong>   <a href="mailto:admin(strudel)gemeindebau101.at">admin(strudel)gemeindebau101.at</a><br />

</address>